@font-face {
  font-family: "Gembool";
  src: local("Gembool"), url(./fonts/Gembool.ttf) format("truetype");
}
@font-face {
  font-family: "Play Day - Personal Use";
  src: local("Play Day - Personal Use"),
    url(./fonts/font2.otf) format("truetype");
}

@font-face {
  font-family: "Minecraft";
  src: local("Minecraft"), url(./fonts/Minecraft.ttf) format("truetype");
}

@font-face {
  font-family: "04B_30__";
  src: local("04B_30__"), url(./fonts/04B_30__.TTF) format("truetype");
}
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
#root {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body {
  background-color: #e3ddd6;
  font-family: "04B_30__";
  margin-left: 30px;
  margin-right: 30px;
  padding: 0px;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid1 {
  display: flex;
}

.pixels {
  margin: 1px;
  height: 15px;
  width: 15px;
}

.mainPage {
  display: grid;
  grid-template-rows: 100px 700px auto;
  row-gap: 10px;
  align-items: center;
}

.topRow {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.headingtop {
  color: #3f51b5;
  font-size: 60px;
}
.headingbottom {
  color: #3f51b5;
  font-size: 30px;
}
.headingbottom2 {
  color: #3f51b5;
  font-size: 15px;
}

.middleRow {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  grid-gap: 40px;
  align-self: auto;
  align-items: center;
}

.firstColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.canvasColorPicker {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 320px;
  width: 450px;
  border-style: outset;
  background-color: white;

  margin-bottom: 10px;
}

.colorpicker {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 240px;
  width: 450px;
  border-style: outset;
  background-color: white;
}

.ccpth {
  color: #3f51b5;
  font-size: 14px;
}

.secondColumn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 700px;
  width: 730px;
  background-color: #f1efed;
  border-radius: 15px;
  border-style: groove;
}

.thirdColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
button {
  height: 40px;
  width: 150px;
  background-color: #3f51b5;
  border-radius: 5px;
  font-family: "04B_30__";
  color: white;
  margin: 2px;
}

.shareButton {
  height: 20px;
  width: 90px;
  background-color: #3f51b5;
  border-radius: 5px;
  font-family: "04B_30__";
  color: white;
  margin: 2px;
}
li {
  list-style-type: none;
}
.imageUpload {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 350px;
  border-style: outset;
  background-color: white;
  margin-top: 10px;
}

.userDefinedDesigns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 330px;
  width: 350px;
  border-style: outset;
  background-color: white;
}

.bottomContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.saveandDownloadCanvas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-style: outset;
  background-color: white;
  padding: 15px;
  margin-top: 10px;
}
.canvasEdits {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.ccpth.extra {
  margin-right: 20px;
}

input[type="file"] {
  display: none;
}

.label1 {
  height: 40px;
  width: 150px;
  background-color: #3f51b5;
  border-radius: 5px;
  font-family: "04B_30__";
  color: white;
  margin: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.landingMain {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.landingInst {
  height: 160px;
  width: 500px;
  border-style: groove;
  background-color: white;
  color: #3f51b5;
  margin-bottom: 20px;
}

.headingtop2 {
  color: #3f51b5;
  font-size: 60px;
  margin: 50px;
}
.userLogin {
  height: 20px;
  width: 200px;
}

.label2 {
  color: #3f51b5;
  font-size: 22px;
}

.loginsubmit {
  margin: 20px;
}
